.nav-links {
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.nav-links li {
}

.nav-links a {
    color: white;
    padding: 19px;
}

.nav-link__selected {
    padding: 0 20px;
    color: greenyellow !important;
    background-color: rgb(255, 0, 119);
}