.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.form-control label {
    font-weight: bold;
}

.form-control input,
.form-control textarea,
.form-control input:focus, 
.form-control textarea:focus {
    border-radius: 2px;
    padding: 5px;
    outline: none;
    border: solid rgba(0, 0, 0, 0.1) 2px;
    background-color: rgba(0, 0, 0, 0.05);
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
    border: solid blueviolet 2px;
}

.form-control__invalid-input {
    color: red;
}

.form-control__invalid-input input,
.form-control__invalid-input textarea,
.form-control__invalid-input input:focus,
.form-control__invalid-input textarea:focus {
    background-color: rgba(128, 13, 13, 0.2);
    border: red solid 2px;
    outline: none;
}

.form-control * {
    margin: 5px 0;
}